<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005254697426-015f2jctnivq1ei4nrfke3ktvvji6ei4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005254697426-015f2jctnivq1ei4nrfke3ktvvji6ei4</string>
	<key>API_KEY</key>
	<string>AIzaSyBOtPLPfsIyfMRKJwlKLdZyMmgNx0jEkPY</string>
	<key>GCM_SENDER_ID</key>
	<string>1005254697426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apexology</string>
	<key>PROJECT_ID</key>
	<string>apexology</string>
	<key>STORAGE_BUCKET</key>
	<string>apexology.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005254697426:ios:66653dc21da443b058a80b</string>
</dict>
</plist>